body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type='date']:focus,
.input-field input[type='text']:focus,
.input-field input[type='number']:focus,
.input-field input[type='radio']:focus,
.input-field input[type='email']:focus,
.input-field input[type='password']:focus {
  color: #d81b60;
}

.input-field input[type='date']:focus+label,
.input-field input[type='text']:focus+label,
.input-field input[type='number']:focus+label,
.input-field input[type='email']:focus+label,
.input-field input[type='password']:focus+label {
  color: #d81b60;
}

.input-field input[type='date']+label,
.input-field input[type='text']+label,
.input-field input[type='number']+label,
.input-field input[type='email']+label,
.input-field input[type='password']+label {
  color: #d81b60;
}

.input-field input[type='date'],
.input-field input[type='text'],
.input-field input[type='number'],
.input-field input[type='radio'],
.input-field input[type='email'],
.input-field input[type='password'] {
  border-bottom: 2px solid #d81b60;
  box-shadow: none;
}

.input-field input[type='date']:focus,
.input-field input[type='text']:focus,
.input-field input[type='radio']:focus,
.input-field input[type='email']:focus,
.input-field input[type='password']:focus {
  border-bottom: 2px solid #d81b60;
  box-shadow: none;
}

.input-field input:valid {
  border-bottom: 2px solid #d81b60;
  box-shadow: none;
}

[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #d81b60;
}

[type="radio"].with-gap:checked+label:after {
  background-color: #d81b60;
  z-index: 0;
}

#BotonCarrito {
  height: 70px;
  color: #fff;
  font-weight: bold;
}

#np {
  color: #fff;
}

#l {
  color: #d81b60;
}